/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.chart {
  height: 300px;
  width: 800px;
}

.explain {
  height: 500px;
  overflow-y: scroll;

  .weight > .details {
    border-left: 3px solid #999;
  }

  .sum {
    > ul {
      list-style: none;

      > li:first-child:before {
        visibility: hidden;
      }

      > li:before {
        content: '➕';
      }
    }
  }

  .product {
    > ul {
      list-style: none;

      > li:first-child:before {
        visibility: hidden;
      }

      > li:before {
        content: '✖️';
      }
    }
  }
}


.popover {
  max-width: 700px;
}
