.chart {
  height: 300px;
  width: 800px;
}

.explain {
  height: 500px;
  overflow-y: scroll;

  .weight > .details {
    border-left: 3px solid #999;
  }

  .sum {
    > ul {
      list-style: none;

      > li:first-child:before {
        visibility: hidden;
      }

      > li:before {
        content: '➕';
      }
    }
  }

  .product {
    > ul {
      list-style: none;

      > li:first-child:before {
        visibility: hidden;
      }

      > li:before {
        content: '✖️';
      }
    }
  }
}


.popover {
  max-width: 700px;
}
